* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #4D23A8;
    --main-color-alt: rgb(61, 26, 134);
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    
        *,
        *:after,
        *:before {
            box-sizing: inherit;
        }
}

body::-webkit-scrollbar {
    display: none;
    &::before {
            content: ' ';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('https://images2.imgbox.com/79/66/q4b8r0hu_o.jpg') 0 0/cover no-repeat;
            z-index: -1;
        }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.dots {
    background-image: url("../imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

/* End Global Rules */
/* Start Header */
.header {

    background-color: white;
    position: relative;
    /* position: fixed; */
    width: 100%;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

.btn {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--main-color);
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    border-top-right-radius: 0;
    position: relative;
    margin-left: 10px;
    /* margin-bottom: -30px; */
    transition: var(--main-transition);
}

.btn:hover {
    border-top-right-radius: 50px;
}

body {
    padding: 0px;
    margin: 0px;
}

.cards-links-container{
    padding: 60px;
}
.cards-links{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 60px;

}

/* .cards-links div {
    background-color: #eee;
    height: 200px;
    border-radius: 25px;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
                    
}
.cards-links div a {
    text-decoration: none;
    color: #4D23A8;
} */
.cards-links a {
    /* background-color: #eee; */
    /* height: 200px; */
    /* border-radius: 25px; */
    /* border-top-right-radius: 0; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: #4D23A8;
}

.cards-links a  {
    position: relative;
    max-width: 26.5em;
    /* margin: 1rem auto; */
    padding: 1em;
    background: #ffffff00;
    border-radius: 25px;
    border-top-right-radius: 0;
}
.cards-links a div h5 {
    margin: 0 auto 1em;
    color: #4D23A8;
    text-align: center;
    text-transform: capitalize;
}
.card__img {
    display: block;
    width: 20em;
    max-width: 100%;
    margin: 1em auto 0;
    border-radius: 7px;
}

.cards-links a  {

    --mouseX8: 0;
    --mouseY8: 0;
    --padding: 0em;

    position: relative;
    background: #eeeeee00;
    
    &::before {
        display: block;
        position: absolute;
        top: calc(var(--padding) * -1);
        bottom: calc(var(--padding) * -1);
        left: calc(var(--padding) * -1);
        right: calc(var(--padding) * -1);
        content: ' ';
        z-index: -1;
        background: #eee;
            border-radius: 25px;
                border-top-right-radius: 0;
        transform: perspective(500px) rotateX(calc(var(--mouseY8) * -2deg)) rotateY(calc(var(--mouseX8) * 2deg));
    }
    
}


footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    color: white;
    font-size: 16px;
}